@font-face {
  font-family: "Sharp Grotesk";
  src: url(/fonts/SharpGroteskLight.otf);
  font-weight: 300;
}

@font-face {
  font-family: "Sharp Grotesk";
  src: url(/fonts/SharpGroteskBook.otf);
  font-weight: 400;
}

@font-face {
  font-family: "Sharp Grotesk";
  src: url(/fonts/SharpGroteskMedium.otf);
  font-weight: 500;
}

@font-face {
  font-family: "Sharp Grotesk";
  src: url(/fonts/SharpGroteskSemiBold.otf);
  font-weight: 600;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Sharp Grotesk", Helvetica, Arial, sans-serif;
  font-stretch: expanded;
  cursor: pointer;
  color: #fff;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  background: #0b26fb;
  justify-content: center;
  flex-direction: column;
}

.container {
  border: 1rem solid #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header p {
  font-weight: 600;
  -webkit-text-stroke-color: #fff;
  color: transparent;
  margin: 0rem;
}

.description-container {
  flex: 1;
}

.description p {
  font-weight: 300;
  width: 50vw;
}

.description p a {
  text-decoration: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
  font-weight: 400;
}

.description p a:hover {
  -webkit-text-stroke-width: 0px;
  color: #fff;
  text-decoration: underline;
}

.contact p {
  font-weight: 600;
  margin: 0;
  padding-bottom: 1rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}

.contact a {
  text-decoration: none;
}

.footer {
  width: 100%;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: center;
  font-weight: 500;
}

.links a {
  text-decoration: none;
}

.links a:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}



/* Smartphones */
@media (min-width: 300px) {
  body {
    overflow: auto;
  }
  .container {
    margin: 1rem;
    padding: 2rem;
  }
  .header p {
    font-size: 1.5rem;
    -webkit-text-stroke-width: 1px;
  }
  .description-container {
    display: block;
  }
  .description p {
    font-size: 1.1rem;
    line-height: 1.7rem;
  }
  .contact {
    margin: 0px;
  }
  .contact p {
    font-size: 1.3rem;
  }
  .contact a {
    font-size: 0.6rem;
  }
  .links {
    font-size: 0.9rem;
  }
}

/* Bigger smartphones */
@media (min-width: 350px) {
  body {
    overflow: hidden;
  }
  .container {
    margin: 1rem;
    padding: 2rem;
  }
  .header p {
    font-size: 1.5rem;
    -webkit-text-stroke-width: 1px;
  }
  .description-container {
    display: block;
  }
  .description p {
    font-size: 1.1rem;
    line-height: 1.7rem;
  }
  .contact {
    margin: 0px;
  }
  .contact p {
    font-size: 1.3rem;
  }
  .contact a {
    font-size: 0.6rem;
  }
  .links {
    font-size: 0.9rem;
  }
}

/* Small screen, big smartphone or tablet */
@media (min-width: 600px) {
  body {
    overflow: hidden;
  }
  .container {
    margin: 2rem;
    padding: 2rem;
  }
  .header p {
    font-size: 2rem;
    -webkit-text-stroke-width: 2px;
  }
  .description-container {
    display: flex;
  }
  .description p {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .contact {
    margin: 30px;
  }
  .contact p {
    font-size: 1.2rem;
  }
  .contact a {
    font-size: 0.7rem;
  }
  .links {
    font-size: 0.8rem;
  }
}

/* Desktop screen or landscape tablet */
@media (min-width: 900px) {
  body {
    overflow: hidden;
  }
  .container {
    margin: 2rem;
    padding: 3rem;
  }
  .header p {
    font-size: 2rem;
    -webkit-text-stroke-width: 2px;
  }
  .description-container {
    display: flex;
  }
  .description p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .contact {
    margin: 30px;
  }
  .contact p {
    font-size: 1.3rem;
  }
  .contact a {
    font-size: 0.8rem;
  }
  .links {
    font-size: 0.9rem;
  }
}

/* Medium screens */
@media (min-width: 1100px) {
  body {
    overflow: hidden;
  }
  .container {
    margin: 3rem;
    padding: 3rem;
  }
  .header p {
    font-size: 3rem;
    -webkit-text-stroke-width: 2px;
  }
  .description-container {
    display: flex;
  }
  .description p {
    font-size: 2rem;
    line-height: 3rem;
  }
  .contact {
    margin: 45px;
  }
  .contact p {
    font-size: 1.5rem;
  }
  .contact a {
    font-size: 1rem;
  }
  .links {
    font-size: 1.1rem;
  }
}

/* Widescreens */
@media (min-width: 1500px) {
  body {
    overflow: hidden;
  }
  .container {
    margin: 3rem;
    padding: 5rem;
  }
  .header p {
    font-size: 4rem;
    -webkit-text-stroke-width: 2px;
  }
  .description-container {
    display: flex;
  }
  .description p {
    font-size: 3rem;
    line-height: 4rem;
  }
  .contact {
    margin: 65px;
  }
  .contact p {
    font-size: 2rem;
  }
  .contact a {
    font-size: 1.3rem;
  }
  .links {
    font-size: 1.3rem;
  }
}
